* {
  font-family: sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

/* Header */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 30px 10px 15px 0;
  width: 100%;
  text-decoration: none;
  list-style: none;
  background-image: -webkit-gradient(linear, left top, right top, from(#c9efff), to(#61b4ef));
  background-image: linear-gradient(to right, #c9efff, #61b4ef);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.header label {
  display: none;
  margin-top: -50px;
  width: 50px;
  height: 50px;
  padding: 10px;
}

.header label:hover {
  cursor: pointer;
  color: #fff;
  background-color: #61b4ef;
}

.header__logo {
  text-decoration: none;
  color: #35739c;
}

#btn-menu {
  display: none;
}

.menu__list {
  margin: 0;
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}

.menu__list_link {
  display: block;
  padding: 15px 20px;
  color: #35739c;
  text-decoration: none;
  list-style: none;
}

.menu__list_link:hover {
  color: white;
}

.menu__list__item:hover {
  background-color: #35739c;
  border-radius: 15px;
  color: #fff;
}

@media (min-width: 768px) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (max-width: 768px) {
  .header {
    display: block;
  }
  .header label {
    display: block;
  }
  .header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header__menu {
    position: absolute;
    background-color: white;
    border-radius: 15px;
    width: 70%;
    margin-top: 0px;
    margin-left: -70%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu__item {
    border-top: 1px solid #35739c;
    border-radius: 15px;
  }
  #btn-menu:checked ~ .header__menu {
    margin-left: 0px;
  }
}

/* Main */
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, right top, from(#c9efff), to(#61b4ef));
  background-image: linear-gradient(to right, #c9efff, #61b4ef);
  height: 650px;
}

.main__imagen {
  margin-top: 120px;
}

.main__texto-imagen {
  padding: 20px;
  margin-left: 20px;
}

.main__texto-imagen h2 {
  color: #35739c;
  margin-top: 30px;
  font-size: 30px;
  font-weight: 400;
}

.main__texto-imagen h3 {
  font-weight: 300;
  color: #4398d0;
}

.complementario {
  height: 400px;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.complementario .tituloComplementario {
  color: #35739c;
}

.complementario .textoComplementario {
  color: #575757;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  line-height: 1.5;
  font-size: 18px;
}

.wave {
  height: 100px;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#c9efff), to(#61b4ef));
  background-image: linear-gradient(to right, #c9efff, #61b4ef);
}

@media (min-width: 768px) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-bottom: 100px;
  }
  .main__texto-imagen {
    width: 40%;
  }
}

@media (max-width: 320px) {
  .complementario {
    height: 1200px;
  }
  .textoComplementario {
    height: 600px;
  }
}

@media (max-width: 375px) {
  .complementario {
    height: 800px;
  }
}

@media (max-width: 425px) {
  .complementario {
    height: 600px;
  }
}

/* Cards */
.titulo h2 {
  text-align: center;
  color: #49718b;
  font-size: 40px;
  margin-bottom: 30px;
  padding: 20px;
}

section {
  display: -ms-grid;
  display: grid;
  place-items: center center;
}

#miContenedor .card.gradient {
  background: -webkit-gradient(linear, left top, right top, from(#c9efff), to(#61b4ef));
  background: linear-gradient(to right, #c9efff, #61b4ef);
}

.cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 20px;
  grid-gap: 40px;
}

.cards__card {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c9efff), to(#61b4ef));
  background-image: linear-gradient(to bottom, #c9efff, #61b4ef);
  border-radius: 20px;
  -webkit-box-shadow: 0 0 30px  #acb6e5;
          box-shadow: 0 0 30px  #acb6e5;
}

.card__container {
  position: relative;
}

.card__image {
  width: 100%;
  display: block;
  border-radius: 20px 20px 0 0;
}

.card__texto {
  padding: 20px 10px;
  text-align: center;
}

.card__texto h3 {
  color: #49718b;
  font-weight: 600;
  font-size: 25px;
  margin: 10px 0 15px 0;
}

.card__texto p {
  color: #49718b;
  font-size: 17px;
}

/* Footer */
.footer {
  padding: 40px 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#c9efff), to(#61b4ef));
  background-image: linear-gradient(to right, #c9efff, #61b4ef);
  text-decoration: none;
}

.footer__social {
  text-align: center;
  padding-bottom: 25px;
  color: #4398d0;
}

.social__icon {
  font-size: 24px;
  color: #49718b;
  width: 40px;
  height: 40px;
  line-height: 30px;
  display: inline-block;
  margin: 0 8px;
}

.social__icon :hover {
  color: white;
  border-color: white;
}

.footer__list {
  margin-top: 0px;
  padding: 0px;
  list-style: none;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0px;
  text-align: center;
}

.list__link {
  color: #49718b;
  padding: 0 15px;
  text-decoration: none;
}

.list__link :hover {
  color: white;
}

.footer__copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
  color: #49718b;
}

.wave-footer {
  height: 100px;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#c9efff), to(#61b4ef));
  background-image: linear-gradient(to right, #c9efff, #61b4ef);
  margin-top: 60px;
}

/* Contacto */
.wave-contacto {
  height: 100px;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#c9efff), to(#61b4ef));
  background-image: linear-gradient(to right, #c9efff, #61b4ef);
}

.contact-in {
  width: 80%;
  height: auto;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px;
  border-radius: 10px;
  background-color: #49718b;
  -webkit-box-shadow: 0 0 10px 0 #61b4ef;
          box-shadow: 0 0 10px 0 #61b4ef;
  margin-top: 60px;
  background-image: -webkit-gradient(linear, left top, right top, from(#c9efff), to(#61b4ef));
  background-image: linear-gradient(to right, #c9efff, #61b4ef);
}

.contact-map {
  width: 100%;
  height: auto;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

.contact-map iframe {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.contact-form {
  width: 100%;
  height: auto;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  text-align: center;
  padding: 30px;
}

.contact-form h2 {
  margin-bottom: 15px;
  color: #49718b;
}

.contact-form-txt {
  width: 100%;
  height: 40px;
  color: #000;
  border: 1px solid #49718b;
  border-radius: 50px;
  outline: none;
  margin-bottom: 20px;
  padding: 15px;
}

.contact-form-txt ::-webkit-input-placeholder {
  color: #aaa;
}

.contact-form-txt :-ms-input-placeholder {
  color: #aaa;
}

.contact-form-txt ::-ms-input-placeholder {
  color: #aaa;
}

.contact-form-txt ::placeholder {
  color: #aaa;
}

.contact-form-txtarea {
  width: 100%;
  height: 130px;
  color: #000;
  border: 1px solid #49718b;
  border-radius: 50px;
  outline: none;
  margin-bottom: 20px;
  padding: 15px;
}

.contact-form-txtarea ::-webkit-input-placeholder {
  color: #aaa;
}

.contact-form-txtarea :-ms-input-placeholder {
  color: #aaa;
}

.contact-form-txtarea ::-ms-input-placeholder {
  color: #aaa;
}

.contact-form-txtarea ::placeholder {
  color: #aaa;
}

.contact-form-btn {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 50px;
  background: #49718b;
  text-transform: uppercase;
  padding: 10px 0;
  cursor: pointer;
  font-size: 18px;
  color: #c9efff;
}

.contact-form-btn :hover {
  background: #c9efff;
  color: #49718b;
}

/* Dentistas */
.dentistas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.dentistas .card {
  padding: 5px;
  border-radius: 15px;
  margin-top: 20px;
}

.tituloDentistas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #35739c;
  margin-top: 50px;
  margin-bottom: 20px;
}

.tituloCarrusel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #35739c;
}

.carrusel {
  margin-top: 50px;
  padding: 20px;
}

@media (max-width: 870px) {
  .dentistas {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .dentistas .card {
    margin-top: 55px;
  }
}

@media (min-width: 768px) {
  .carrusel {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.testimonials {
  padding: 40px 0;
  background: white;
  color: #434343;
  text-align: center;
}

.inner {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 10px 20px;
}

.border {
  width: 160px;
  height: 5px;
  background: #6ab04c;
  margin: 25px auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col {
  -webkit-box-flex: 33.33%;
      -ms-flex: 33.33%;
          flex: 33.33%;
  max-width: 33.33%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
}

.testimonial {
  background: #fff;
  padding: 30px;
}

.testimonial img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
}

.stars {
  color: #6ab04c;
  margin-bottom: 20px;
}

@media screen and (max-width: 960px) {
  .col {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .col {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
  }
}
/*# sourceMappingURL=estilos.css.map */