/* Header */

.header{
    display: flex;
    justify-content: space-around;
    padding: 30px 10px 15px 0;
    width: 100%;
    text-decoration: none;
    list-style: none;
    background-image: linear-gradient(to right,#c9efff, #61b4ef);
    position: sticky;
    top: 0;
    z-index: 1;
    label{
        display: none;
        margin-top: -50px;
        width: 50px;
        height: 50px;
        padding: 10px;
    }
    label:hover{
        cursor: pointer;
        color:#fff;
        background-color: #61b4ef;
    }
}

.header__logo{
    text-decoration: none;
    color: #35739c;
}

#btn-menu{
    display: none;
}

.menu__list{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex; 
    text-decoration: none;
}

.menu__list_link{
    display: block;
    padding: 15px 20px;
    color: #35739c;
    text-decoration: none;
    list-style: none;
    &:hover{
        color: white;
    }
}

.menu__list__item:hover{
    background-color: #35739c;
    border-radius: 15px;
    color: #fff;

}



@media  (min-width:768px) {
    .header{
        flex-direction: row;
    }
}

@media (max-width:768px){
    .header{
        display: block;

        label{
            display: block;
        }
    }

    .header__logo{
        display: flex;
        justify-content: flex-end;
    }

    .header__menu{
        position: absolute;
        background-color: white;
        border-radius: 15px;
        width: 70%;
        margin-top: 0px;
        margin-left: -70%;
        transition: all 0.5s;
    }

    .menu__list{
        flex-direction: column;
    }

    .menu__item{
        border-top: 1px solid #35739c;
        border-radius: 15px;
    }

    #btn-menu:checked ~ .header__menu{
        margin-left: 0px;
    }
}