/* Main */
.main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(to right,#c9efff, #61b4ef);
    height: 650px;
}

.main__imagen{
    margin-top: 120px;
}


.main__texto-imagen {
    padding: 20px;
    margin-left: 20px;
    h2{
        color: #35739c ;
        margin-top: 30px;
        font-size: 30px;
        font-weight: 400;
    }   
    h3{
        font-weight: 300;
        color: #4398d0;
    }
}

.complementario{
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .tituloComplementario{
        color: #35739c ;
    }

    .textoComplementario{
        color: rgb(87, 87, 87);
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
        line-height: 1.5;
        font-size: 18px;
    }
}

.wave{
    height: 100px;
    width: 100%;
    background-image: linear-gradient(to right,#c9efff, #61b4ef);
}

@media  (min-width:768px){
    .main{
        display: flex;
        flex-direction: row;
        padding-bottom: 100px;
        

    }
       
    .main__texto-imagen{
        width: 40%;
        }
   
}


@media  (max-width:320px){
    .complementario{
        height: 1200px;
    }
    .textoComplementario{
        height: 600px;
    }
}

@media  (max-width:375px){
    .complementario{
        height: 800px;
    }
}

@media  (max-width:425px){
    .complementario{
        height: 600px;
    }
}
